@import "~antd/dist/antd.css";
* {
  font-family: "Barlow Condensed", sans-serif;
}
.ant-image {
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
}
.ant-image-img {
  display: block !important;
  margin: auto !important;
  margin-top: 20px !important;
  width: 20% !important;
}
